<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://assets.onfido.com/web-sdk-releases/12.0.0/style.css"
    />
    <title>My App</title>
  </head>
  <body>
    <img
      src="images/onfidoLogo.png"
      alt="Your logo"
      style="
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 240px;
      "
    />
  <body>
    <div
      class="container h-100 d-flex justify-content-center align-items-center"
    >
    <div class="onfido-sdk-ui-Theme-root onfido-sdk-ui-Modal-inner">
      <form
        action="/submit"
        method="post"
        class="text-center border border-light p-5 form rounded"
      >
        <p class="h4 mb-4">Enter your information</p>

        <div class="form-group text-left">
          <label for="firstName">First Name:</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter your first name"
          />
        </div>

        <div class="form-group text-left">
          <label for="lastName">Last Name:</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Enter your last name"
          />
        </div>

        <div class="form-group text-left">
          <label for="workflowId">Workflow ID:</label>
          <input
            type="text"
            class="form-control"
            id="workflowId"
            name="workflowId"
            placeholder="Enter a workflow ID"
          />
        </div>

        <input type="submit" class="btn btn-primary" value="Submit" />
      </form>
    </div>
  </div>
  </body>
</html>
